.module-icon {
	padding: 10px;
	cursor: move;
	font-weight: bold;
	font-size: 120%;
	float: left;
	height: 60px;
	width: 60px;
	background-color: #A074BE;
}
.NOLabel{
	float: left;
	font-weight: 700;
	position: relative;
	left: 50px;
	top: 5px;
}
.WaitIcon{
	float: left;
	position: relative;
	left: 90px;
	top: 5px;
}
.YESLabel{
	float: right;
	font-weight: 700;
	position: relative;
	right: 50px;
	top: 5px;
}
.connect {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background-color: #40B3DF;
}
.decision{
	height: 30px;
	background-color: #DDD;
	width: 260px;
}
.summary {
	padding: 10px;
	cursor: move;
	text-align: left;
	margin-left: 60px;
	height: 60px;
	text-transform: uppercase;
	font-size: 12px;
}

.menu-item {
	position: absolute;
	border: 1px solid black;
	width: 150px;
	font-size: 80%;
    background-color:#FFFFFF;
	text-align: center;
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
}
div.closebutton {
	display: none;
   /*background-image: url(http://images.isave.no/mrm/images/close2.png);*/
   width: 15px;
   height: 15px;
   position: absolute;
   top: 4px;
   right: 2px;
   cursor: pointer;
   border-radius:10px;
   background-position-x:3px;
   background-position-y:3px;
   background-repeat:no-repeat;
   background-position:center;
}
.item:hover{
	/*
	-moz-box-shadow: 5px 5px 3px 1px #AAA;
	-webkit-box-shadow: 5px 5px 3px 1px #AAA;
	box-shadow: 5px 5px 3px 1px #AAA;
	*/
}
.item:hover .closebutton{
	display: block;
}
.item {
	position: absolute;
	width: 260px;
	/*height:60px;*/
	font-size: 80%;
    background-color:#FFFFFF;
	text-align: center;
	/*
	-moz-box-shadow: 2px 2px 3px 1px #AAA;
	-webkit-box-shadow: 2px 2px 3px 1px #AAA;
	box-shadow: 2px 2px 3px 1px #AAA;
	*/
	cursor: move;
	border-radius: 2px;
}

/* the container is 200px (size of menu-container) plus 3 times 250px + 2px per border*/
#container {
	border: 2px solid gray;
	width: 958px;
	height: 500px;
	position: relative;
	background-color: #EBEBEB;
}

/* the menu is 200px wide */
#menu-container {
	float: left;
	border: 2px solid gray;
	border-right: 4px solid gray;
	width: 200px;
	height: 497px;
	background-color: #F3F2F4;
}

.verticalLine {
	float: left;
	border-right: 2px solid gray;
	width: 1px;
	height: 498px;
}
path, ._jsPlumb_endpoint { cursor:pointer; }
._jsPlumb_overlay{
	cursor: pointer;
	background-color: transparent;
}
.sourceEndpoint{

}
.sourceEndpoint._jsPlumb_endpoint_connected svg circle{
	fill:#ccc;
}
.sourceEndpointYES._jsPlumb_endpoint_connected svg circle{
	fill:#6BBC5F;
}
.sourceEndpointNO._jsPlumb_endpoint_connected svg circle{
	fill:#E74C3C;
}
.targetEndpoint svg circle{
	fill:"transparent";
}
.targetEndpoint._jsPlumb_endpoint_connected svg circle{
	fill:#ccc;
}
.targetEndpointNO._jsPlumb_endpoint_connected svg circle{
	fill:#E74C3C;
	stroke:#E74C3C;
}
.targetEndpointNO._jsPlumb_endpoint_connected{
	z-index: 10;
}
.targetEndpointYES._jsPlumb_endpoint_connected svg circle{
	fill:#6BBC5F;
	stroke: #6BBC5F;
}
.targetEndpointYES._jsPlumb_endpoint_connected{
	z-index: 10;
}
.jsplumb-drag-active{
	opacity: .5;
}
.jsplumb-droppable.active svg circle{
	fill:#ccc;
}

