<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../common/js/dom.jsPlumb-1.7.2-min.js"></script>
<!--
<script type="text/javascript" src="../common/js/jquery.jsPlumb-1.4.1-all-min.js"></script>
-->
<!--
<script type="text/javascript" src="../common/js/jquery-1.9.0-min.js"></script>
<script type="text/javascript" src="../common/js/jquery-ui-1.9.2-min.js"></script>
<script type="text/javascript" src="../common/js/jquery.jsPlumb-1.7.2-min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
-->
<!-- We get now a recent version of angularjs from a CDN -->
<script type="text/javascript" src="../common/js/angular.min.js"></script>
<script type="text/javascript" src="js/example.js"></script>

<link href="../common/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../common/css/common.css">

<title>Getting started with jsPlumb</title>
</head>

<body ng-app="plumbApp">
<div ng-controller="PlumbCtrl">
	<h1>Getting started with jsPlumb</h1>
	<p>
	From the blog by <a href="http://blog.emielhollander.nl/2013/01/getting-started-with-jsplumb/">Emiel Hollander</a>. An
	experiment to see if I can get AngularJS to work together with jsPlumb.
	</p>
	<p>This example uses AngularJS as well as jQuery (hard to do without). Click or double-click in the container to
	find out.</p>
<table>
<tr>
	<td>
		<div id="menu-container">
			<div plumb-menu-item class="menu-item" ng-repeat="module in library" ng-style="{ 'left':module.x +'px', 'top':module.y +'px' }"
				data-identifier="{{module.library_id}}" draggable="true">
				<div class="summary">{{module.title}}</div>
			</div>
		</div>
		
	</td>
	<td>
	<div id="container" class="drop-container" droppable="true">
		<div plumb-item class="item" ng-repeat="module in schema.modules" ng-style="{ 'left':module.x + 'px', 'top':module.y +'px' }" data-identifier="{{module.schema_id}}">
			<div class="closebutton"></div>
			<div class="title">{{module.title}}</div>
			{{module.description}}
			<div plumb-connect class="connect">Connect here</div>
		</div>
	</div>
		
	</td>
</tr>	
</table>

	<p>

	<button type="button" class="btn btn-primary" ng-click="redraw()">Redraw</button>
	</p>
	</pre>{{schema}}<pre>
	</pre>{{schema.connections}}<pre>
	<!--  does not render what comes behind it, so it's probably wrong -->
	<div post-render></div>

	<span ng-init="init()"></span>
</div>
</body>


</html>
